<div class="modal-body">
  <form ng-controller="EditCtrl" name="form">
    <fieldset>
      <legend>Edit experience:</legend>
      <div class="form-group">
        <label>Company:</label>
        <input class="form-control" 
               type="text" 
               name="company"
               ng-model="item.company" 
               required/>
        <ng-messages ng-show="form.company.$dirty" for="form.company.$error">
          <ng-message class="label label-danger" when="required">This field cannot be empty</ng-message>
        </ng-messages>
      </div>
      <div class="form-group">
        <label>Position:</label>
        <input class="form-control" 
               type="text" 
               name="position"
               ng-model="item.position" 
               required/>
        <ng-messages ng-show="form.position.$dirty" for="form.position.$error">
          <ng-message class="label label-danger" when="required">This field cannot be empty</ng-message>
        </ng-messages>
      </div>
      <div class="form-group">
        <label>Start date:</label>
        <div class="row">
          <div class="col-md-6" ng-controller="DateCtrl" ng-init="initialize('startAt')">
            <p class="input-group">
              <input type="text"
                     name="position"
                     class="form-control"
                     datepicker-popup="dd MMM. yyyy"
                     ng-model="item.startAt"
                     is-open="isOpen"
                     close-text="Close"/>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="open($event)">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>End date:</label>
        <div class="row">
          <div class="col-md-6" ng-controller="DateCtrl" ng-init="initialize('endAt')">
            <p class="input-group">
              <input type="text"
                     name="position"
                     class="form-control"
                     datepicker-popup="dd MMM. yyyy"
                     ng-model="item.endAt"
                     is-open="isOpen"
                     ng-disabled="item.present"
                     close-text="Close"
                     required/>
              <ng-messages ng-show="form.startAt.$dirty" for="form.startAt.$error">
                <ng-message class="label label-danger" when="required">This field cannot be empty</ng-message>
              </ng-messages>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-disabled="item.present"
                        ng-click="open($event)">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="col-md-6 checkbox">
            <lable>
              <input type="checkbox"
                     ng-model="item.present">
              Present
              </input>
            </lable>
          </div>
        </div>
      </div>
      <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <button class="btn btn-success btn-block"
                      ng-disabled="form.$invalid"
                      ng-click="save()">
                Save
              </button>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <button class="btn btn-danger btn-block"
                      ng-click="cancel()">
                Cancel
              </button>
            </div>
          </div>
        </div>
    </fieldset>
  </form>
</div>